/*this is the main stylesheet that styles the main index.html file*/

body{
    background-color : black;
}
#fireworkcontainer{
    position: relative;
}
#fireworktrigger{
    width:5%;;
    height:30px;
    border : 1px solid white;
    position:absolute;
    top : 0px;
    left : 52%;
}
#card{
    border: 1px solid black;
    height: 100%;;
    width: 100%;
    cursor : url('./sparkler.gif'), auto;
}
#containerText{
    text-align: center;
    position : relative;
    height:35px;
    width:100%;
}
#animate{
    font-size : 20px;
    color : white;
    position:absolute;
}
#card-content{
    min-height: 550px;
}
